<div class="component">
  <div class="row">
    {{#each this.items}}
    <div class="col-12 col-md-3">
      <div class="card datatile">
        {{{ this.content }}}
      </div>
    </div>
    {{/each}}
  </div>
</div>
