<div class="component">
  {{#each this.items}}
  <div class="hztl-session">
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="hztl-session-date">
          {{#if this.date.day}}<span>{{this.date.day}},</span>{{/if}}
          {{#if this.date.month}}<span>{{this.date.month}}</span>{{/if}}
          {{#if this.date.time}}<span class="hztl-session-time">{{this.date.time}}</span>{{/if}}
        </div>
        {{#if this.calendar}}
        <div title="Add to Calendar" class="add-to-calendar">
          <span class="start">{{this.calendar.start}}</span>
          <span class="timezone">{{this.calendar.timezone}}</span>
          <span class="end">{{this.calendar.end}}</span>
          <!--span class="duration">{{this.calendar.duration}}</span-->
          <!--span class="allday">{{this.calendar.allday}}</span-->
          <span class="title">{{this.title}}</span>
          <span class="description">{{this.description}}</span>
          <span class="location">{{this.location}}</span>
        </div>
        {{/if}}
        {{#if this.link}}
        <a href="{{this.link.url}}" class="btn btn-dark">Watch now</a>
        {{/if}}
      </div>
      <div class="col-12 col-md-9">
        <h3 class="display-2">{{ this.title }}</h3>
        <p>{{ this.description }}</p>
        {{#if this.speakers}}
        <h4 class="display-5">Speakers:</h4>
          {{#each this.speakers}}
          <div class="hztl-session-speaker clearfix">
            {{#if this.img}}
              <img src="{{ this.img.src }}" class="hztl-speaker-img" alt="{{ this.name }}">
            {{/if}}
            <div class="hztl-speaker">
              <div class="hztl-speaker-name display-5">{{this.name}}</div>
              <div class="hztl-speaker-title display-6">{{{this.title}}}</div>
              {{#if this.link}}
                <a href="{{ this.link.url }}" class="btn-cta-text with-underline">{{ this.link.text }}<i class="fas fa-arrow-right"></i></a>
              {{/if}}
            </div>
          </div>
          {{/each}}
        {{/if}}
      </div>
    </div>
  </div>
  {{/each}}
</div>
