<div class="component">
  <div class="row">
    {{#each this.items}}
    <div class="col-6 col-md-4">
      <div class="card card-list-card {{ ../type }}">
        <h3 class=" display-4 card-list-title">{{ this.title }}</h3>
        {{{ this.content }}}
        <div class="card-cta">
         <button class="btn-cta-text--see-more toggle-btn--see-more">See More<i class="fas fa-plus"></i></button>
        </div>
          <div class="card-list-see-more--info-window"> <button class="close-window"></button>
            <h4 class="display-4 field-card-title">{{ this.title }}</h4>
            <div class="field-bullet-points">
              <ul>
                {{#each list}}
                <li>{{ this }}</li>
                {{/each}}
              </ul>
            </div>
          </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
