<div class="component">
  <div class="row">
    <div class="col-12 col-md-3">
      {{#if this.title }}
        <h4 class="section-title display-3">{{ this.title }}</h4>
      {{/if}}
    </div>
    <div class="col-12 col-md-9">
      <div class="row no-gutters">
        {{#each this.items}}
        <div class="col-12 col-md-4">
          <div class="team-img">
            <img src="{{ this.img.src }}" alt=" " class="img-fluid"/>
            <a href="{{ this.linkedin }}" rel="noopener noreferrer" class="team-linkedin fab fa-linkedin" target="_blank"><span class="sr-only">Connect with {{ this.name }} on LinkedIn</span></a>
          </div>
          <div class="team-caption">
            <div class="display-5">{{ this.name }}</div>
            <div class="display-6">{{ this.title }}</div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
