<div class="component">
  <div class="row">
    {{#each this.items}}
    <div class="col-12">
      <div class="widetile">
        {{{ this.content }}}
      </div>
    </div>
    {{/each}}
  </div>
</div>
