<div class="component">
  <div class="row">
    {{#each this.items}}
    <div class="col-6 col-md-4">
      <div class="card card-list card-list-title{{ ../type }}">
        {{#if this.img }}
        {{#if this.link }}<a href="{{this.link.url}}">{{/if}}
        <div class="card-img">
          <img data-src="{{ this.img.src }}" alt="{{ this.img.alt }}" class="img-fluid lazy-img">
        </div>
        {{#if this.link }}</a>{{/if}}
        {{/if}}
        {{#if this.title}}
        <h4>{{ this.title }}</h4>
        {{/if}}
        {{{ this.content }}}
        {{#if this.link }}
        <div class="card-cta"><a class="btn-cta-text with-underline" href="{{this.link.url}}">{{this.link.text}}<i class="fas fa-arrow-right"></i></a></div>
        {{/if}}
      </div>
    </div>
    {{/each}}
  </div>
</div>
