<div class="component">
  {{#if this.imgs }}
  <div class="carousel">
    {{#each this.imgs}}
    <div class="slide">
      <img class="img-fluid lazy-img" data-lazy="{{this.src}}" alt="{{this.alt}}">
    </div>
    {{/each}}
  </div>
  {{/if}}

  {{#if this.video }}
  <div class="hztl-video-player embed-responsive embed-responsive-16by9">
    <div class="embed-responsive-item" id="vimeo-{{ this.video.id }}">
      <iframe src="https://player.vimeo.com/video/{{ this.video.id }}?title=0&amp;byline=0&amp;portrait=0&amp;color=fa420f&amp;app_id=122963" width="426" height="240" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" title="Horizontal + Salesforce" data-ready="true"></iframe>
    </div>
    <img alt="{{ this.video.poster.alt }}" class="hztl-video-poster embed-responsive-item" src="{{ this.video.poster.src }}">
    <button class="btn-play-video" data-video-id="{{ this.video.id }}">Play</button>
  </div>
  {{/if}}
</div>
