<section class="{{ this.class }}">
  <div class="container">
    <div class="row">
      <div class="col-12 {{ this.cols.left }}">
        {{#if this.title }}
          <h2 class="section-title display-1">{{ this.title }}</h2>
        {{/if}}
        {{#each content.left}}
          {{>(lookup . 'template')}}
        {{/each}}
      </div>
      <div class="col-12 {{ this.cols.right }}">
        {{#if this.img }}
        <div class="section-img">
          <img src="{{ this.img.src }}" alt="{{ this.img.alt }}" class="img-fluid">
        </div>
        {{/if}}
        {{#each content.right}}
        {{>(lookup . 'template')}}
        {{/each}}
      </div>
    </div>
  </div>
</section>
