<section>
  <div class="container container-wide">
    <div class="row no-gutters d-flex align-items-stretch">
      {{#each this.items}}
      <div class="col-12 col-md-6 align-self-stretch">
        <a href="{{ this.link.url }}" class="footer-cta {{ this.type }}">
          <span class="footer-cta-tag icon-{{ this.type }}">{{ this.tag }}</span>
          <span class="display-2">{{ this.title }}</span>
          <span class="footer-cta-content">{{{ this.content }}}</span>
          <i class="fas fa-arrow-right footer-cta-arrow"></i>
        </a>
      </div>
      {{/each}}
    </div>
  </div>
</section>
