<section class="{{ this.class }}">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        {{#if this.title }}
          <h2 class="section-title display-3">{{ this.title }}</h2>
        {{/if}}
        {{#if this.caption }}
        <div class="section-caption content-rte">
          {{{ this.caption }}}
        </div>
        {{/if}}
        {{#if this.img }}
        <div class="section-img">
          <img src="{{ this.img.src }}" alt="{{ this.img.alt }}" class="img-fluid">
        </div>
        {{/if}}
      </div>
      <div class="col-12 col-md-9">
        {{#each content}}
          {{>(lookup . 'template')}}
        {{/each}}
      </div>
    </div>
  </div>
</section>
