<section class="section-callout {{ this.class }}">
    <div class="container container-wide">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-8">
            <div class="section-callout-content">
              <h3 class="display-2">{{ this.title }}</h3>
              {{{ this.content }}}
            </div>
          </div>
          <div class="col-12 col-md-4">
            <a href="{{this.link.url}}" class="btn btn-cta btn-lite">{{this.link.text}} <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
</section>
