<section class="big-quote {{ this.class }}">
  <div class="container">

    <div class="row">
      <div class="col-12 col-md-8">
        <blockquote class="{{ this.size }}">{{{ this.quote }}}</blockquote>
        <cite>{{ this.cite }}</cite>
      </div>
      {{#if this.img }}
      <div class="col-12 col-md-4">
        <img src="{{ this.img.src }}" alt="{{ this.img.alt }}" class="img-fluid big-quote-img">
      </div>
      {{/if}}
    </div>

  </div>
</section>
