<section class="{{ this.class }}">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        {{#if this.title }}
          <h2 class="section-title display-1">{{ this.title }}</h2>
        {{/if}}
        {{#each content.left}}
          {{>(lookup . 'template')}}
        {{/each}}
      </div>
      <div class="col-12 col-md-6">

        <!--form class="hztl-form" action="https://e.horizontalintegration.com/l/575073/2019-10-27/fllmmv" method="post" autocomplete="off" id="pardot-form">

          <div class="row hztl-form-row">
            <label for="575073_65553pi_575073_65553" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hztl-form-text-label">First Name</label>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hztl-form-text-input-container">
              <input type="text" class="hztl-form-text-input" name="575073_65553pi_575073_65553" required="">
            </div>
          </div>

          <div class="row hztl-form-row">
            <label for="575073_65555pi_575073_65555" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hztl-form-text-label">Last Name</label>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hztl-form-text-input-container">
              <input type="text" class="hztl-form-text-input" name="575073_65555pi_575073_65555" required="">
            </div>
          </div>

          <div class="row hztl-form-row error">
            <label for="575073_65557pi_575073_65557" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hztl-form-text-label">Email Address</label>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hztl-form-text-input-container">
              <input type="email" class="hztl-form-text-input" name="575073_65557pi_575073_65557" required="">
            </div>
          </div>

          <button type="submit" class="btn btn-outline">Sign Up</button>

        </form-->

        <div>
          %%content%%
        </div>

      </div>
    </div>
  </div>
</section>
