<div class="small-cta">
  <div class="row">
    <div class="col-4">
      {{#if this.img }}
      <img src="{{ this.img.src }}" alt="{{ this.img.alt }}" class="img-fluid">
      {{/if}}
    </div>
    <div class="col-8 align-self-center">
      {{#if this.title }}
        <h3 class="display-2">{{ this.title }}</h3>
      {{/if}}
      {{{ this.content }}}
      {{#if this.link }}
      <div class="card-cta"><a class="btn-cta-text with-underline" href="{{this.link.url}}">{{this.link.text}}<i class="fas fa-arrow-right"></i></a></div>
      {{/if}}
    </div>
  </div>
</div>
