<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ this.meta.description }}" />

  {{> global/og-meta this }}

  <title>{{ this.title }}</title>

  <link href="https://hztl-fed.azureedge.net/hztl/images/favicon.png" rel="shortcut icon" />

  <link rel="preload" href="https://hztl-fed.azureedge.net/hztl/fonts/ModernEra/ModernEra-Black-woff2.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="https://hztl-fed.azureedge.net/hztl/fonts/ModernEra/ModernEra-Regular-woff2.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="https://hztl-fed.azureedge.net/hztl/fonts/ModernEra/ModernEra-Bold-woff2.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="https://hztl-fed.azureedge.net/hztl/fonts/FontAwesome/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="https://hztl-fed.azureedge.net/hztl/fonts/FontAwesome/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="https://hztl-fed.azureedge.net/hztl/fonts/Icons/hiIcon_woff2.woff2" as="font" type="font/woff2" crossorigin>

  {{!-- <link rel="stylesheet" href="https://hztl-fed.azureedge.net/hztl/css/style.min.css"> --}}
  {{!-- <link rel="stylesheet" href="/assets/css/style.css"> --}}
  <link rel="stylesheet" href="https://hztl-fed.azureedge.net/hztl/css/style.min.css">

  {{> global/tracking/gtm id="GTM-NXBP4T5" }}

</head>

<body class="no-header {{ this.theme }}">

  {{> global/tracking/gtm-iframe id="GTM-NXBP4T5" }}

  <main role="main" class="page-container">
    {{#>content}}{{/content}}
  </main>

  {{#>footer}}
    {{> global/footer-pardot @root.footerpardot }}
  {{/footer}}

  {{> global/video-overlay }}

  {{!-- <script src="https://hztl-fed.azureedge.net/hztl/js/main.min.js"></script> --}}
  {{!-- <script src="/assets/js/main.js"></script> --}}
  <script src="https://hztl-fed.azureedge.net/hztl/js/main.min.js"></script>

</body>

</html>
