<meta property="og:type" content="website">
<meta property="og:title" content="{{this.og.title}}">
<meta property="og:description" content="{{this.og.description}}">
<meta property="og:image" content="{{this.og.img.src}}">
<meta property="og:url" content="{{this.og.url}}">
<meta property="og:site_name" content="{{this.og.sitename}}">

<meta name="twitter:title" content="{{this.og.title}}">
<meta name="twitter:description" content="{{this.og.description}}">
<meta name="twitter:image" content="{{this.og.img.src}}">
<meta name="twitter:site" content="@HztlDigital">
<meta name="twitter:creator" content="@HztlDigital">
