.section-callout {
  &.theme-peach {
    margin:200px 0;
    padding:0;
    background: none !important;

    .container-wide {
      padding: 20px 0;
      background-color: $hztl-peach;
    }
  }
}

.section-callout {
  &.theme-teal {
    margin:200px 0;
    padding:0;
    background: none !important;

    .container-wide {
      padding: 20px 0;
      background-color: $hztl-teal;
    }
  }
}

@media (min-width: 768px) {

  .section-callout {
    .section-callout-content {
      :last-child {
        margin: 0;
      }
    }
    .btn-cta {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

}
