.card {
  font-size: 1.4rem;
  line-height: 1.8rem;
  height: 100%;
  position: relative;
  padding: 0 0 64px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $hztl-gray;
  }

  &.card-list-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150px;
    &.active .card-list-see-more--info-window {
      display: block;
    }
  }

  &.card-list {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    min-height: 150px;
    border-top: 5px solid $hztl-dark;
    padding-top: 13px;
  }

  .card-img {
    margin-bottom: 20px;
  }

  .card-cta {
    position: absolute;
    bottom: 16px;
    width: 100%;
  }

  .card-list-title {
    border-top: 5px solid $hztl-dark;
    padding-top: 13px;
    margin-bottom: 4px;
  }

  // see more card
  .card-list-see-more--info-window {
    display: none;
    background-color: $hztl-lite;
    color: $hztl-dark;
    z-index: 2;
    position: absolute;
    padding: 20px 40px 20px 20px;
    width: 100%;
    top: 0;
    left: 0;
    &.active {
      display: block;
    }
    .close-window {
      position: absolute;
      top: 0;
      right: 0;
      border: unset;
      &:before {
        content: '\00d7';
        position: absolute;
        top: 0;
        right: 7px;
        z-index: 2;
        line-height: 1.3;
        font-size: 3rem;
        font-weight: 700;
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 32px;
        height: 32px;
        background-color: $hztl-teal;
      }
    }
    .field-card-title {
      color: $hztl-dark;
      line-height: 1.25;
    }
    ul {
      font-size: 1.6rem;
      padding: 0 0 0 2rem;
      list-style-type: '\2013';
      > li {
        padding-left: 1rem;
      }
    }
  }
  .field-promosubheadline {
    position: absolute;
    margin-top: 3rem;
  }
  .case-study-small {
    &--image {
      position: relative;
      img {
        height: 100%;
      }
    }
    &--content {
      &-title-desc {
        background-color: #fff;
        padding: 30px 20px 20px;
        color: #2f2d2e;
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        a.btn-cta-text.with-underline {
          color: $hztl-dark;
        }
      }
    }
  }
}

.theme-dark,
.theme-gray {
  .card {
    &.card-list {
      border-top: 5px solid $hztl-lite;
    }
    .card-list-title {
      border-top: 5px solid $hztl-lite;
    }
  }
}

@media (min-width: 768px) {
  .title-only {
    h3 {
      height: 10rem;
    }
  }
}

@media (min-width: 576px) {
  .card {
    .case-study-small--image {
      padding-right: 0;
    }
    .case-study-small--content {
      padding-right: 0;
    }
    .case-study-small--content-title-desc.title.field-title {
      color: $hztl-dark;
      background-color: $hztl-lite;
      margin-bottom: 10px;
      padding: 0;
    }
  }
}

@media (max-width: 575px) {
  .case-study-small {
    &--image {
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}
