.component-da-cta {
  &__wrapper {
    width: 100%;
    padding: 2rem;
    background: $hztl-lite;
    margin-bottom: 1rem;
    border-right: 0.6rem solid $hztl-dark;
  }
  &__worktype {
    padding: 0 0 4.5rem 0;
    position: relative;
    color: $hztl-dark;
    h2 {
      font-size: 2.4rem;
      line-height: 2.6rem;
      color: $hztl-dark;
      // &::before {
      //   content: '\f069';
      //   font-family: 'Font Awesome 5 Free';
      //   margin-right: 1rem;
      //   position: relative;
      //   font-weight: 700;
      // }
    }
    &::after {
      content: '\f061';
      font-family: 'Font Awesome 5 Free';
      right: 0;
      top: 0;
      transition: 0.3s;
      position: absolute;
      color: $hztl-dark;
      font-weight: 700;
      font-size: 2.6rem;
    }
  }
  &__title {
    h3 {
      font-family: $hztl-font-black;
      font-size: 3.6rem;
      line-height: 4rem;
      padding-bottom: 1rem;
      color: $hztl-dark;
    }
  }
  &__short-description {
    p {
      font-size: 2.4rem;
      line-height: 2.6rem;
      font-weight: 700;
      color: $hztl-dark;
    }
  }
  &__link {
    a {
      position: absolute;
      text-indent: -99990px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      color: $hztl-dark;
    }
  }
}
