.datatile {

  padding: 32px 0 24px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 5px;
    background-color: $hztl-dark;
  }

  &::after {
    display: none;
  }

  .display-1,
  .display-2,
  .display-3,
  .display-4 {
    margin-bottom:0;
  }

}

.theme-dark,
.theme-gray {
  .datatile {
    &::before {
      background-color: $hztl-lite;
    }
  }
}
