.footer-cta {
  display: block;
  background: $hztl-lite;
  height: 100%;
  padding: 26px;
  border-right: 5px solid $hztl-dark;
  position: relative;
  text-decoration: none;
  color:$hztl-dark !important;

  > span {
    display: block;
  }

  &.insights {
    background: $hztl-teal;
  }

  &.work {
    background: $hztl-lite;
  }

  .footer-cta-tag {
    font-family: $hztl-font-black;
    font-size: 2.2rem;
  }

  .display-2 {
    margin-top:42px;
    margin-bottom: 6px;
  }

  .footer-cta-content {
    font-family: $hztl-font-bold;
    font-size: 2.4rem;
  }

  .footer-cta-arrow {
    font-size: 2rem;
    position: absolute;
    top:32px;
    right:32px;
    transition: $hztl-anim;
  }

  &:hover {
    text-decoration: none;
    .footer-cta-arrow {
      right:26px;
    }
  }
}
