.section-logos {
  margin-top: 120px;
  margin-bottom: 120px;

  .logo-filters {
    font-family: $hztl-font-bold;
    font-size: 14px;
    .list-inline-item {
      a {
        color: $hztl-mid-g;
        &:hover {
          text-decoration: none;
        }
      }
      a.with-underline {
        &:before {
          height: 4px;
          background-color: $hztl-teal;
          left: -4px;
        }
        &:hover,
        &.active {
          &:before {
            width: calc(100% + 8px);
          }
        }
      }
    }
  }

  .grid-item {
    display: none;
  }
}

@media (min-width: 992px) {
  .section-logos {
    > h3 {
      width: auto;
    }
    .logo-headline {
      float:left;
    }
    .logo-filters {
      float:right;
      margin-top: 48px;
      .list-inline-item {
        margin-left: 16px;
      }
    }
  }
}
