.page-list.hi-page-list {
  ul.items {
    display: block;
    list-style: none;
    width: 100%;
    padding: 68px 0 120px;
    z-index: 1;
    > li {
      list-style: none;
    }
    li.item {
      border-bottom: 1px solid $hztl-lt-hover;
      padding: 0;
      &:first-of-type {
        border-top: 1px solid $hztl-lt-hover;
      }
    }
  }
  .component-link-list {
    &__content {
      position: relative;
      display: block;
      z-index: 1;
      width: 100%;
      a {
        color: $hztl-lite;
        display: flex;
        justify-content: flex-start;
        font-weight: 700;
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0);
        padding: 2rem 1.5rem;
        position: relative;
        width: 100%;
        font-family: $hztl-font-black;
        i {
          display: block;
          position: absolute;
          font-size: 2.4rem;
          transition: all 0.4s ease;
          align-self: center;
          top: 2rem;
          right: 3.3rem;
          color: $hztl-dark;
        }
        &:hover {
          background-color: $hztl-lite;
          color: $hztl-dark;
        }
      }
    }
  }
  a {
    border: 0;
    font-size: 2.4rem;
    line-height: 2.6rem;
  }
}

@media (min-width: 992px) {
  .page-list {
    ul {
      li {
        a {
          transition: background-color 0.25s ease-in-out;
        }
      }
    }
  }
}
