.quote-carousel {
  margin-top: 0;
  margin-bottom: 0;

  > div.container {
    background-color: $hztl-stone;
    padding-right: 0;
  }
}

.quote-carousel.medium-bottom-margin {
  margin-bottom: 120px;
}

.quote-carousel {
  padding:0;
}

@media (min-width: 1460px) {
  .quote-carousel {
    padding:0 10px;
  }
}

.quote {
  margin: 60px 0 60px;
}

.quote-image {
  height: 375px;

  img {
    height: 375px;
  }
}

@media (min-width: 768px) {
  .quote {
    margin: 160px 0 80px;
  }
  .quote-image {
    height: 675px;
    position: relative;

    img {
      position: absolute;
      bottom: 0;
      height: 575px;
    }
  }
}

.theme-dark,
.theme-gray {
  .quote {
    color:$hztl-dark;
    cite::before {
      background:$hztl-dark;
    }
  }
}
