.content-rte {
  li, ul {
    list-style: none;
  }
  ul {
    font-family: "ModernEra-Bold";
    padding-left:6px;
  }
  li {
    position: relative;
    padding-left:26px;
  }
  li::before {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    left: 0;
    height: 2px;
    background: $hztl-dark;
    width: 16px;
  }
}

.theme-dark,
.theme-gray,
.theme-green {
  .content-rte {
    li::before {
      background: $hztl-lite;
    }
  }
}
