.section-title {
  position: relative;
  padding: 42px 0 0;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 13px;
    left: 0;
    height: 10px;
    width: 60px;
    background: $hztl-dark;
  }
}

.component {
  margin: 60px 0;
}

.component:last-child {
  margin-bottom: 0;
}

.with-eyebrow {
  position: relative;
  padding: 42px 0 0;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 13px;
    left: 0;
    height: 10px;
    width: 60px;
    background: $hztl-dark;
  }
}

.section-banner.with-logo {
  .content-rte {
    padding-top: 60px;
  }
}

.content-rte {
  .with-eyebrow {
    margin-top: 60px;
  }
  .with-eyebrow:first-child {
    margin-top: 0;
  }
  h3 {
    margin-top: 5rem;
  }
  .case-study-small--content-title-desc {
    display: flex;
    flex-direction: column;
  }
}

.hztl-logo {
  display:block;
  padding: 12px 15px;
  svg {
    height: auto;
    max-width: 79px;
    vertical-align: middle;
    g {
      > polygon,
      > path {
        fill: $hztl-lite;
      }
    }
  }
}

@media (min-width: 768px) {
  .content-rte {
    .with-eyebrow {
      margin-top: 120px;
    }
    .with-eyebrow:first-child {
      margin-top: 0;
    }
  }
  .hztl-logo {
    svg {
      max-width: 120px;
    }
  }
}

.section-caption {
  font-size: 14px;
  line-height: 20px;

  &:first-child {
    position: relative;
    padding-top: 42px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 13px;
      left: 0;
      height: 10px;
      width: 60px;
      background: $hztl-dark;
    }
  }
}

.section-img {
  text-align: center;
  //margin: 0 0 60px;
}

@media (min-width: 768px) {
  .col-single {
    .section-title,
    .content-rte {
      max-width: 75%;
    }
  }
}

.theme-dark,
.theme-gray {
  .section-title::before,
  .section-caption:first-child::before {
    background: $hztl-lite;
  }
  .with-eyebrow {
    &::before {
      background: $hztl-lite;
    }
  }
}
