.small-cta {
  background-color: $hztl-dark;
  color: $hztl-lite;
  h3 {
    margin-bottom: 0;
  }
  .btn-cta-text {
    color: $hztl-lite;
  }
  .with-underline {
    &:before {
      background-color: $hztl-lite;
    }
  }
  .col-8 {
    padding:8px 0;
  }
}

.theme-dark,
.theme-gray {
  .small-cta {
    background-color: $hztl-lite;
    color: $hztl-dark;
    .btn-cta-text {
      color: $hztl-dark;
    }
    .with-underline {
      &:before {
        background-color: $hztl-dark;
      }
    }
  }
}
