.team {
}

.team-img {
  position: relative;
  margin-bottom: 2rem;
  .team-linkedin {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 4px;
  }
}

.team-caption {
  padding-right: 16px;
}
