.modal-dialog {
  max-width: 75%;
  margin: 60px auto;
}

.modal-content {
  border: 0;
}

.modal-body {
  background-color:$hztl-dark;
  padding:0px;
}

.close {
  color:$hztl-lite;
  font-family: $hztl-font-black;
  background-color:transparent;
  border:0;
  margin: 15px;
}
