.lazy-img {
  opacity:0;
  transition: opacity .2s;
}

.lazy-img.lazy-loaded {
  opacity:1;
}

.wide-media {
  margin-top: 0;
  margin-bottom: 0;
}

.contain-media {
  .container-wide {
    max-width: 960px;
  }
}

.wide-media.medium-bottom-margin {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .wide-media.medium-bottom-margin {
    margin-bottom: 120px;
  }
}

.wide-media {
  padding:0;
}

@media (min-width: 1460px) {
  .wide-media {
    padding:0 10px;
  }
}

.hztl-video-player {
  position: relative;
}

.btn-play-video {
  border-radius: 50%;
  border-color: transparent;
  background-color: $hztl-lite;
  width:100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: $hztl-font-black;
  font-size: 20px;
  transition: $hztl-anim;

  &:hover {
    background-color: $hztl-lt-hover;
  }
}
