.wide-list {
  margin-top: 80px;
  ul {
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #cfcdc8;
    li {
      font-family: $hztl-font-black;
      font-size: 2.2rem;
      line-height: 2.8rem;
      border-top: 1px solid #cfcdc8;
      a {
        text-decoration: none;
        display: block;
        padding: 15px;
        background-color: $hztl-dark;
        color: $hztl-lite;
        transition: $hztl-anim;
        i {
          opacity: 0;
          position: relative;
          top: 3px; right:15px;
          transition: $hztl-anim;
          float: right;
        }
        &:hover {
          background-color: $hztl-lite;
          color: $hztl-dark;
          i {
            opacity: 1;
            right:5px;
          }
        }
      }
    }
  }

}
