{{#> layouts/default home }}

  {{#*inline "content"}}
    <section class="container">
      <ul>
        <li>
          <span>Pardot Landing Pages</span>
          <ul>
            <li><a href="/pardot/raise-the-bar">Raise the Bar</a></li>
            <li><a href="/pardot/dreamforce-2021">Dreamforce 2021</a></li>
            <li><a href="/pardot/dreamforce-2021-post">Dreamforce 2021 post</a></li>
            <li><a href="/pardot/symposium-2021">Symposium 2021</a></li>
            <li><a href="/pardot/symposium-2021-post">Symposium 2021 post</a></li>
            <li><a href="/pardot/symposium-2021-ondemand">Symposium 2021 Ondemand</a></li>
          </ul>
        </li>
      </ul>

      <hr>

      <ul class="content-ul">
        <li>
          <a href="/platforms/salesforce/">2021 Salesforce Platform Pages</a>
          <ul>
            <li>
              <a href="/platforms/salesforce/marketing-cloud">Marketing Cloud</a>
              <ul>
                <li><a href="/platforms/salesforce/interaction-studio">Interaction Studio</a></li>
                <li><a href="/platforms/salesforce/cdp">CDP</a></li>
              </ul>
            </li>
            <li><a href="/platforms/salesforce/commerce-cloud">Commerce Cloud</a></li>
            <li><a href="/platforms/salesforce/experience-cloud">Experience Cloud</a></li>
            <li><a href="/platforms/salesforce/analytics-ai">Analytics & AI</a></li>
          </ul>
        </li>
      </ul>

      <hr>

      <ul>
        <li>
          <a href="/platforms/">2021 Platform Pages</a>
        </li>
        <li>
          <a href="/services/">2021 Services Pages</a>
        </li>
      </ul>
    </section>
  {{/inline}}

{{/layouts/default}}
