.btn {
  border-radius: 0;
  font-family: $hztl-font-black;
  font-size: 1.4rem;
  line-height: 1.5;
  text-decoration: none;
  padding: 13px 30px;
  min-width: 220px;
  transition: $hztl-anim;
}

.btn-cta {
  background: $hztl-teal;
  color: $hztl-dark !important;
  i {
    color: $hztl-dark;
    display: inline-block;
    line-height: 1.4em;
    margin: 0 0 0 0.75em;
  }
  &:hover {
    background: darken($hztl-teal, 10%);
    text-decoration: none;
  }
}

.btn-dark {
  background: $hztl-dark;
  color: $hztl-lite !important;
  i {
    color: $hztl-lite;
    display: inline-block;
    line-height: 1.4em;
    margin: 0 0 0 0.75em;
  }
  &:hover {
    background: darken($hztl-dark, 20%);
    text-decoration: none;
  }
}

.btn-outline {
  color: $hztl-dark;
  border: 5px solid $hztl-dark;
  &:hover {
    border-color: darken($hztl-dark, 20%);
    color: $hztl-dark;
    text-decoration: none;
  }
}

.btn-lite {
  color: $hztl-dark !important;
  background: $hztl-lite;
  &:hover {
    background: darken($hztl-lite, 10%);
    text-decoration: none;
  }
}

.btn-peach {
  color: $hztl-dark !important;
  background: $hztl-peach;
  &:hover {
    background: darken($hztl-peach, 10%);
    text-decoration: none;
  }
}

.theme-dark,
.theme-gray {
  .btn-outline {
    color: $hztl-lite;
    background: none;
    border: 5px solid $hztl-lite;
    &:hover {
      border-color: darken($hztl-lite, 20%);
      color: $hztl-lite;
      background: none;
      text-decoration: none;
    }
  }
}

.btn-cta-text {
  font-family: $hztl-font-bold;
  font-size: 1.4rem;
  i {
    color: $hztl-dark;
    display: inline-block;
    font-size: 10px;
    line-height: 1.4em;
    width: 1.6em;
    height: 1.6em;
    padding: 0 5px 0 4px;
    margin: 0 0 0 0.75em;
    border-radius: 50%;
    background-color: $hztl-teal;
    transition: $hztl-anim;
  }
  &--see-more {
    @extend .btn-cta-text;
    background-color: unset;
    border: unset;
    color: $hztl-lite;
  }

  &:hover {
    text-decoration: none;

    i {
      margin: 0 0 0 1.1em;
    }
  }
  &--outline {
    background-color: $hztl-lite;
    background-image: none;
    background-position: right bottom;
    color: $hztl-dark;
    margin-top: 28px;
    display: block;
    background: none;
    background-size: 200% 100%;
    transition: all ease 0.25s;
    -webkit-appearance: initial;
    border-radius: 0;
  }
}

.card-list-card .btn-cta-text > i {
  margin: 0 0 0 0.75em;
}

.with-underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
  &:before {
    content: '';
    position: absolute;
    top: 90%;
    height: 2px;
    width: 0%;
    left: 0;
    background-color: $hztl-dark;
    transition: $hztl-anim;
  }
  &:hover {
    text-decoration: none;
    &:before {
      width: calc(100% - 1.9em);
    }
  }
}

.component-flexible-content-block__category {
  position: absolute;
  background-color: $hztl-teal;
  width: 50px;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  transition: all 0.25s ease-in-out;
  h2 {
    font-size: 24px;
    line-height: 26px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    bottom: 50%;
    color: red;
    position: absolute;
    opacity: 0;
    text-align: center;
    transition: opacity 0.25s ease-in-out;
    width: 100%;
    left: -125px;
    min-width: 300px;
  }
}

.theme-dark,
.theme-gray {
  .with-underline {
    &:before {
      background-color: $hztl-lite;
    }
  }
}

.theme-lite {
  .with-underline {
    &:before {
      background-color: $hztl-dark;
    }
  }
}

@media (min-width: 768px) {
  .btn-cta-text {
    &--outline {
      background: none;
      background-image: linear-gradient(
        to left,
        $hztl-dark 50%,
        $hztl-lite 50%
      );
      background-size: 200% 100%;
      color: $hztl-lite;
      transition: all ease 0.25s;
      background-position: right bottom;
      margin-top: 28px;
      padding: 15px 50px;
      border: 5px solid $hztl-lite;
      text-decoration: none;
      font-size: 1.8rem;
      display: inline-block;
      font-weight: 700;
      &:hover {
        background-position: left bottom;
        color: $hztl-dark !important;
        text-decoration: none;
      }
    }
  }
}
