@font-face {
  font-family: "hiIcon";
  src: url($hztl-cdn-prefix + "/fonts/Icons/hiIcon_eot.eot");
  src: url($hztl-cdn-prefix + "/fonts/Icons/hiIcon_eot.eot?#iefix") format("eot"), url($hztl-cdn-prefix + "/fonts/Icons/hiIcon_woff2.woff2") format("woff2"), url($hztl-cdn-prefix + "/fonts/Icons/hiIcon_woff.woff") format("woff"), url($hztl-cdn-prefix + "/fonts/Icons/hiIcon_ttf.ttf") format("truetype"), url($hztl-cdn-prefix + "/fonts/Icons/hiIcon_svg.svg#hiIcon") format("svg"); }

.icon-insights:before,
.icon-news:before,
.icon-right-arrow:before,
.icon-share:before,
.icon-work:before {
  font-family: "hiIcon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;

  margin-right: 12px;
  position: relative;
  top: .2rem;
}

.icon-insights:before {
  content: "\E001"; }

.icon-news:before {
  content: "\E002"; }

.icon-right-arrow:before {
  content: "\E003"; }

.icon-share:before {
  content: "\E004"; }

.icon-work:before {
  content: "\E005"; }
