body {
  font-family: $hztl-font-regular;
  color: $hztl-dark;
  background-color: $hztl-lite;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5 {
  font-family: $hztl-font-black;
}

.display-6 {
  font-family: $hztl-font-bold;
}

.display-super {
  font-family: $hztl-font-black;
}

a,
a:hover {
  color: $hztl-dark;
}

strong,
.bold {
  font-family: $hztl-font-bold;
  font-style: normal;
}

.theme-dark {
  background-color: $hztl-dark;
  color: $hztl-lite;

  a,
  a:hover {
    color: $hztl-lite;
  }
}

.theme-gray {
  background-color: $hztl-lp-gray;
  color: $hztl-lite;

  a,
  a:hover {
    color: $hztl-lite;
  }
}

.theme-dark-header {
  background: linear-gradient(180deg, $hztl-dark 96px, $hztl-lite 0);
}

.theme-dark-top {
  background: linear-gradient(180deg, $hztl-dark 50%, $hztl-lite 50%);
  margin-top: 0 !important;
}

.theme-teal {
  background-color: $hztl-teal;
  color: $hztl-dark;

  a,
  a:hover {
    color: $hztl-dark;
  }
}

.theme-peach {
  background-color: $hztl-peach;
  color: $hztl-dark;

  a,
  a:hover {
    color: $hztl-dark;
  }
}
