body {
  font-style: normal;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  margin-top: 0;
  margin-bottom: 1.2rem;
}

h1,
.display-1 {
  font-size: 4.2rem;
  line-height: 4.4rem;
}

h2,
.display-2 {
  font-size: 3.2rem;
  line-height: 3.6rem;
}

h3,
.display-3 {
  font-size: 2.2rem;
  line-height: 2.8rem;
}

h4,
.display-4 {
  font-size: 1.6rem;
  line-height: 2rem;
}

h5,
.display-5 {
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin-bottom: .5rem;
}

h6,
.display-6 {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.display-super {
  font-size: 2.4rem;
  line-height: 2.6rem;
  margin:0 0 12px;
}

.display-large {
  font-size: 5rem;
  line-height: 5rem;
}

.display-xlarge {
  font-size: 5rem;
  line-height: 5rem;
  margin-top:60px;
}

@media (min-width: 768px) {
  body {
    font-style: normal;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .display-1,
  .display-2,
  .display-3,
  .display-4,
  .display-5,
  .display-6 {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  h1,
  .display-1 {
    font-size: 5rem;
    line-height: 5.2rem;
  }

  h2,
  .display-2 {
    font-size: 3.6rem;
    line-height: 4rem;
  }

  h3,
  .display-3 {
    font-size: 2.6rem;
    line-height: 3.2rem;
  }

  h4,
  .display-4 {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  h5,
  .display-5 {
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin-bottom: .5rem;
  }

  h6,
  .display-6 {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  .display-large {
    font-size: 6rem;
    line-height: 6rem;
  }

  .display-xlarge {
    font-size: 15rem;
    line-height: 15rem;
    margin-top:130px;
  }
}

p {
  margin:0 0 2rem;
}

a, a:hover {
  text-decoration: underline;
}

strong,
.bold {

}

em,
.italic {
  font-style: italic;
}

.highlight {
  background-color: $hztl-teal;
  box-shadow: 5px 0 0 $hztl-teal, -5px 0 0 $hztl-teal;
  padding: 3px 0;
}
